@layer {
  html,
  body,
  #root {
    height: 100%;
  }

  body {
    margin: 0 auto;
    background-color: $color-gray;
  }

  #root {
    display: flex;
    .page {
      flex: 1;
    }
  }
}
