$color-primary: #FF8500;
$color-primary-light: #FFE9D1;
$color-white: #FFFFFF;
$color-black: #333333;
$color-gray: #FAFBFC;
$color-gray-tertiary: #A2A6B1;

// 间距
$space-xxs: 4px;
$space-xs: 8px;
$space-sm: 12px;
$space-md: 16px;
$space-lg: 20px;
$space-xl: 24px;
$space-2xl: 32px;
$space-3xl: 40px;

// 字体大小
$text-2xs: 10px;
$text-xs: 12px;
$text-sm: 14px;
$text-base: 16px;
$text-lg: 18px;
$text-xl: 20px;
$text-2xl: 24px;
$text-3xl: 30px;
$text-4xl: 36px;
$text-5xl: 48px;
$text-6xl: 60px;
$text-7xl: 72px;
$text-8xl: 96px;
$text-9xl: 128px;
