$color-primary: #FF8500;
$color-white: #FFFFFF;
$color-black: #333333;
$color-gray: #FAFBFC;
$color-gray-tertiary: #A2A6B1;

// 间距
$space-xxs: 4px;
$space-xs: 8px;
$space-sm: 12px;
$space-md: 16px;
$space-lg: 20px;
$space-xl: 24px;
$space-xxl: 32px;
$space-xxxl: 40px;
